.card-status {
  background-color: rgb(0, 190, 127);
  color: white;
  border-radius: 17px;
  padding: 5px;
}

.large-title {
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
}


.dropbtn {
  background: none;
  font-size: 16px;
  border: none;
  color: black;
}

.dropdown {
  height: 35px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 35px;
  border: 0.1px groove;
  border-radius: 5px;
}

.dropdown-content tr:hover {
  background-color: #ddd;
}

.arabic-lang {
  left: 0;
}

.english-lang {
  right: 0;
}

.btn-action {
  height: 35px;
  font-size: 11px;

}

.popup-button {
  height: 40px;
  font-size: 16px !important;
}

::ng-deep .mat-dialog-container {
  height: 400px !important;
  width: 550px !important;
  border-radius: 12px !important;
}
