<div>
  <div class="dropdown" #dropdown1>
    <div #dropdown2>
      <input class="form-control search-style" placeholder="Search" [(ngModel)]="selectedItem" (keyup)="search($event)" (click)="flagOpenClose=true">
      <i class="fa-solid fa-angle-up icon-up-down" (click)="flagOpenClose=false;$event.stopPropagation()" *ngIf="flagOpenClose"></i>
      <i class="fa-solid fa-angle-down icon-up-down" (click)="flagOpenClose=true;$event.stopPropagation()"
        *ngIf="!flagOpenClose"></i>
    </div>
    <div class="dropdown-content" *ngIf="flagOpenClose" #dropdown3>
      <table style="width: 100%;">
        <tbody>
          <tr (click)="select(null)"></tr>
          <tr *ngFor="let item of arrayFilter | slice: pageIndex * pageSize : (pageIndex + 1) * pageSize">
            <td (click)="select(item)">{{item.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
