<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <h1>We value your feedback and want to know how
        we can improve your experience at our hospital.
        <br> Please take a few minutes to answer the following
        questions
      </h1> -->

      <div style="direction: rtl; padding: 17px; display: flex; justify-content: space-between;">
        <div>
          <button class="btn-save" style="direction: ltr !important" (click)="save()">
            <i class="fa-regular fa-floppy-disk"></i>Save
          </button>
        </div>
        <div>
          <button class="btn-save" style="direction: ltr !important" (click)="addNewQuestion()">
            <i class="fa-solid fa-plus"></i>Add Question
          </button>
        </div>
      </div>

    </div>

    <br>
    <hr>
    <br>
    <br>
    <div *ngFor="let review of reviewList;let indx=index;">
      <div class="col-12 row">
        <div class="form-group col-9">
          <h2 *ngIf="review.dataStatus!=1&&review.dataStatus!=2">{{review.question}}
          </h2>
          <textarea class="form-control" rows="3" *ngIf="review.dataStatus==1||review.dataStatus==2"
            [(ngModel)]="review.question"></textarea>
        </div>
        <div class="row col-3" style="justify-content: space-around;">
          <button *ngIf="review.dataStatus!=1&&review.dataStatus!=2" class="btn btn-success col-4 btn-action"
            (click)="updateQuestion(review)">Update</button>
          <button class="btn btn-danger col-4 btn-action" (click)="deleteQuestion(review)">Delete</button>
        </div>
        <!-- <ngb-rating [max]="5" [(rate)]="starRating1" [readonly]="false" style="font-size:45px;"
      class="color-system"></ngb-rating> -->
      </div>
      <br>
      <hr>
      <br>
    </div>
  </div>
</div>
