<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- <h1>We value your feedback and want to know how
        we can improve your experience at our hospital.
        <br> Please take a few minutes to answer the following
        questions
      </h1> -->

      <div style="direction: rtl;padding: 17px">
        <button class="btn-save" style="direction: ltr !important">
          <i class="fa-solid fa-plus"></i>Add Question</button>
      </div>

    </div>

    <br>
    <hr>
    <br>
    <br>

    <div class="col-12">

      <div class="form-group">
        <h2 for="exampleFormControlTextarea1">How would you rate your overall experience with our
          hospital?</h2>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <!-- <ngb-rating [max]="5" [(rate)]="starRating1" [readonly]="false" style="font-size:45px;"
        class="color-system"></ngb-rating> -->
    </div>
    <br>
    <hr>
    <br>
    <div class="col-12">
      <div class="form-group">
        <h2 for="exampleFormControlTextarea2">How satisfied were you with the easy of scheduling
          appointments through the app?</h2>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
      </div>
      <!-- <ngb-rating [max]="5" [(rate)]="starRating2" [readonly]="false" style="font-size:45px"
        class="color-system"></ngb-rating> -->

    </div>
    <br>
    <hr>
    <br>

    <div class="col-12">

      <div class="form-group">
        <h2 for="exampleFormControlTextarea1"> Did you feel that the medical staff provided you with
          high-quality care?</h2>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <!-- <ngb-rating [max]="5" [(rate)]="starRating3" [readonly]="false" style="font-size:45px"
        class="color-system"></ngb-rating> -->

    </div>
  </div>
</div>
