<div class="container mt-5">

  <div class="row mb-3">
    <div class="col-3 mb-3">
      <div class="form-floating">
        <custom-select-option [array]="[doctorArr]" (code)="getCodeFromArray($event)"></custom-select-option>
      </div>
    </div>
    <div class="col-3">
      <div (click)="getDaybyDocId()"><button class="btn"><i class="fa-solid fa-magnifying-glass"
            style="font-size: 17px;"></i></button></div>
    </div>
  </div>
  <br>

  <form>
    <div class="dejaDoctorPersonalInfo ps-3 border-bottom border-1 border-muted mb-3">
      <h5 class="mb-3">Available Time</h5>
      <div class="row">
        <div class="row mb-3" *ngFor="let day of scheduleMasterForm.controls['scheduleDays'].value;  index as indx">
          <div class="col-lg-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="flexCheckDefault"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="day.isSelected">
              <p class="h5 my-3" for="flexCheckDefault">{{day.textEn}}</p>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="day.isSelected">
            <div class="row" *ngFor="let shift of day.Shifts">
              <div class="col-2">
                <p class="h5 mt-3">From</p>
              </div>
              <div class="col-3">
                <div class="form-floating text-muted mb-3">
                  <input type="time" style="height: 55px;font-size: 15px;" [disabled]="!day.isSelected"
                    class="form-control" id="startTime" placeholder="Start Time" />
                  <label for="startTime">Start Time</label>
                </div>
              </div>

              <div class="col-1">
                <p class="h5 mt-3">To</p>
              </div>
              <div class="col-4">
                <div class="form-floating text-muted mb-3">
                  <input type="time" style="height: 55px;font-size: 15px;" [disabled]="!day.isSelected"
                    class="form-control" id="endTime" placeholder="End Time" />
                  <label for="endTime">End Time</label>
                </div>
              </div>
              <div class="col-1">
                <button class="btn" [class.active]="shift.flagShiftOnOff" (click)="toggleButton(shift)">
                  {{ shift.flagShiftOnOff ? 'On' : 'Off' }}
                </button>
              </div>
              <div class="col-1">
                <button class="btn" style> <i class="fa fa-minus-circle"
                    style="color: rgb(184, 9, 9);font-size: 25px;"></i></button>
              </div>

            </div>
          </div>
          <div class="col-lg-6 no-shift" *ngIf="!day.isSelected">There is no Shift</div>
          <div class="col-lg-1">
            <button (click)="addNewShift(day)" class="btn" style> <i class="fa fa-plus-circle"
                style="color: green;font-size: 25px;"></i></button>
          </div>

        </div>

      </div>
    </div>
  </form>
  <div class="row mb-3">
    <div class="dejaBtn m-auto">
      <input type="button" class="btn rounded" value="Save" (click)="onBtnsClicked(1)" />
    </div>
  </div>

  <!-- <ng-template #delete  styel="width:500px">
  <mat-dialog-content >
    {{translate.currentLang=='ar'?'هل انت متأكد ؟':'Are You sure?'}}
  </mat-dialog-content>
  <mat-dialog-actions class="col-6">
    <button mat-raised-button color="warn" mat-dialog-close
      (click)="removeRow()">OK</button>
    <button mat-raised-button mat-dialog-close class="btn btn-light">{{'CLOSE'|translate}}</button>
  </mat-dialog-actions>
</ng-template> -->
