<div class="container mt-5">
  <form>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" id="fullName" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="birthDate">Birth Date</label>
          <input type="text" class="form-control" id="birthDate" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="tel" class="form-control" id="phoneNumber" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="userType">User Type</label>
          <select class="form-control" id="userType">
            <option [value]="1">Doctor</option>
            <option [value]="2">Patient</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label for="userRole">User Role</label>
          <select class="form-control" id="userRole">
            <option [value]="1">Admin</option>
            <option [value]="2">Not Admin</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="confirm" />
          <label class="form-check-label" for="confirm">Confirm</label>
        </div>
      </div>
    </div>
  </form>
</div>
