<div>
    <router-outlet></router-outlet>
</div>

<div>

    <nav class="navbar navbar-expand-md navbar-dark " [ngClass]="{'checkLogout':this.logToggel==true} "
        *ngIf="_authService.isLoggin()">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand custom-link" style="direction: rtl;">
            <span an class="menu-collapsed px-3 title-system">FemtoVision</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        </div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn" id="dropdownBasic1" ngbDropdownToggle style="height: 40px;align-items: center;display: inline-flex !important; background-color: #2C3848 !important;color: white;font-size: 12px;">
            <div class="circule-avatar"></div>
            <span>Full Name</span>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" >Update Profile</a>
            <a class="dropdown-item" >Log Out</a>
          </div>
        </div>

        <!-- <div class="dropdown" style="align-self: center;height: 100%;">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" style="align-items: center;display: inline-flex !important;">
                <div class="circule-avatar"></div>
                <span>Full Name</span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="min-width:0px">
                <li>
                    <a class="dropdown-item" href="javascript:void(0);" [routerLink]="[ '/portal/patient-profile' ]">
                        Profile info
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="javascript:void(0);" [routerLink]="[ '/portal/pat-reset-password' ]">
                        change password
                    </a>
                </li>
            </ul>
        </div> -->
        <div style="width:10px ;"></div>
        <div (click)="openDialog()">
            <button class="btn" style="    font-size: 17px;color: white;">
                <i class="fa fa-power-off" aria-hidden="true"></i>
            </button>
        </div>
        <div style="width:10px ;"></div>

    </nav>

    <div [ngClass]="{'row': _authService.isLoggin(),'checkLogout':this.logToggel==true} "
        *ngIf="_authService.isLoggin()" id="body-row">
        <!-- Sidebar -->
        <div id="sidebar-container" *ngIf="_authService.isLoggin()" class=" d-none d-md-block"
            [ngClass]="{'sidebar-expanded':!flagSideBar,'sidebar-expanded-small':flagSideBar}">
            <div [ngStyle]="{'text-align':flagSideBar?'star':'end'}" style="padding: 0px 10px;">
              <button (click)="changeSideBar()" class="menu-side-bar"><i class="fa fa-bars" aria-hidden="true"></i>
              </button>
            </div>
            <ul class="list-group" *ngIf="!flagSideBar" [ngClass]="{'hidden':flagSideBar}">
                <ul  style="list-style-type: none; padding: 0;">
                    <!-- home -->
                    <li>
                        <a routerLinkActive="active" [routerLink]="[ '/main-home/dashboard' ]" style="padding: 10px;"
                            class=" list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <!-- <img src="assets/images/Portal/d1.png" alt=""> -->
                                <span class="menu-collapsed">
                                    Dashboard
                                </span>
                            </div>
                        </a>
                    </li>
                    <li style="    padding-left: 11px;">
                        <ul>
                            <li  class="list-group-header" >
                                <a class=" list-group-item list-group-item-action" style="display: flex;"(click)="generalToggel('toggelSetup')">
                                    <div class="d-flex w-100 justify-content-start align-items-center">
                                        <span class="menu-collapsed">Administration
                                        </span>
                                    </div>
                                    <i *ngIf="obj.toggelSetup==false" class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <i *ngIf="obj.toggelSetup==true" class="fa fa-chevron-up" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="li-child" *ngIf="obj.toggelSetup==true">
                                <a routerLinkActive="active" [routerLink]="['/main-home/app-users']"
                                    style="display: 10px;" class=" list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-start align-items-center">
                                        <span class="menu-collapsed">Users</span>
                                    </div>
                                </a>
                            </li>
                            <li class="li-child" *ngIf="obj.toggelSetup==true">
                              <a routerLinkActive="active" [routerLink]="['/main-home/dynamic-setup-admin']"
                                  style="display: 10px;" class=" list-group-item list-group-item-action">
                                  <div class="d-flex w-100 justify-content-start align-items-center">
                                      <span class="menu-collapsed">Dynamic Setup</span>
                                  </div>
                              </a>
                          </li>
                          <li class="li-child" *ngIf="obj.toggelSetup==true">
                            <a routerLinkActive="active" [routerLink]="['/main-home/operation-manage']"
                                style="display: 10px;" class=" list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-start align-items-center">
                                    <span class="menu-collapsed">Operation Manage</span>
                                </div>
                            </a>
                        </li>
                            <!-- <li class="li-child" *ngIf="obj.toggelSetup==true">
                                <a routerLinkActive="active" [routerLink]="['/main-home/tasks-auto-matched']"
                                    style="display: 10px;" class=" list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-start align-items-center">
                                        <span class="menu-collapsed">Tasks AutoMatched</span>
                                    </div>
                                </a>
                            </li> -->
                        </ul>
                    </li>
                    <li style="padding-left: 11px;">
                      <ul>
                          <li  class="list-group-header" >
                              <a class=" list-group-item list-group-item-action" style="display: flex;"(click)="generalToggel('financialSetup')">
                                  <div class="d-flex w-100 justify-content-start align-items-center">
                                      <span class="menu-collapsed">Financial Admin
                                      </span>
                                  </div>
                                  <i *ngIf="obj.financialSetup==false" class="fa fa-chevron-down" aria-hidden="true"></i>
                                  <i *ngIf="obj.financialSetup==true" class="fa fa-chevron-up" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li class="li-child" *ngIf="obj.financialSetup==true">
                              <a routerLinkActive="active" [routerLink]="['/main-home/financial-doctor-fees']"
                                  style="display: 10px;" class=" list-group-item list-group-item-action">
                                  <div class="d-flex w-100 justify-content-start align-items-center">
                                      <span class="menu-collapsed">Doctors Fees</span>
                                  </div>
                              </a>
                          </li>
                          <li class="li-child" *ngIf="obj.financialSetup==true">
                            <a routerLinkActive="active" [routerLink]="['/main-home/financial-patient-fees']"
                                style="display: 10px;" class=" list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-start align-items-center">
                                    <span class="menu-collapsed">Patient Fees</span>
                                </div>
                            </a>
                        </li>

                      </ul>
                  </li>
                </ul>

            </ul>

        </div>
        <!-- MAIN -->
        <div class="col">
            <router-outlet></router-outlet>
        </div>
        <!-- Main Col END -->
    </div>

    <div class="confirmDialog" *ngIf="logToggel==true &&_authService.isLoggin()">
        <div>
            <h1>{{'LOGOUT'|translate}}?</h1>
            <h3>{{translate.currentLang=='ar'?'هل انت متأكد لتسجل الخروج؟':'Are You sure to logout?'}}</h3>
            <button class="btn btnlogout" (click)="logout()"> <span>Log Out</span></button>

            <button class="btn btn-cancel" (click)="cancelDialog()">Cancel</button>
        </div>

    </div>
</div>
