.title-pages {
  font-size: 24px !important;
  font-weight: bold !important;
  color: #333 !important;
  text-align: center !important;
}
.color-system{
  background-color: antiquewhite;
  color:#333 !important;
}
