<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn" (click)="routeToLink()">
        <i class="fa-solid fa-angle-left" style="font-size: 22px;"></i>
      </button>
    </div>
    <div class="col" style="padding-right:15px ;"(click)="addProcedures()">
      <button class="btn-save" style="float: inline-end;">
        <i class="fa-regular fa-floppy-disk"></i> Save</button>
    </div>
  </div>
  <div class="row" style="padding: 0px 40px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="ProceduresName">Procedures Name</label>
        <input type="text" class="form-control" id="ProceduresName"[(ngModel)]="objProcedures.procedure_Name" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="Value">procedure Price</label>
        <input type="text" class="form-control" id="Value" [(ngModel)]="objProcedures.procedure_Price" />
      </div>
    </div>
  </div>
</div>
