<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn" (click)="routeToLink('/main-home/operation-manage')">
        <i class="fa-solid fa-angle-left" style="font-size: 22px;"></i>
      </button>
    </div>
    <div class="col" style="padding-right:15px ;">
      <button class="btn-save" style="float: inline-end;">
        <i class="fa-regular fa-floppy-disk"></i> Save</button>
    </div>
  </div>
  <div class="row" style="padding: 0px 40px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="ProceduresName">Procedures Name</label>
        <input type="text" class="form-control" id="ProceduresName" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" />
      </div>
    </div>
  </div>
</div>
