<div class="container mt-5">

  <div class="row">
    <div class="col-3">
      <button class="btn-save" (click)="routeToLink('/main-home/booking-create',0)">
        <i class="fa-solid fa-plus"></i>Add</button>
    </div>
    <div class="col-md-6">
      <input type="text" placeholder="Search Booking" class="form-control" [(ngModel)]="searchTerm"
        (keyup)="filterinTable()">
    </div>
  </div>
  <br>
  <table class="table table-striped table-bordered" style="text-align: center;">
    <thead>
      <tr>
        <th>Doc. Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Procedure Type</th>
        <th>Number of Slot</th>
        <th>Note</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookingsFilter ;let indx=index;">
        <td>{{booking.docName}}</td>
        <td>{{ booking.reservationDate | date:"dd/MM/yyyy"}}</td>
        <td>{{ booking.startTime | date:"hh:mm"}}</td>
        <!-- doctor or patient name -->
        <td>{{ booking.procedure_Name }}</td>
        <td>{{ booking.numSlot }}</td>
        <td>{{ booking.note }}</td>
        <td>
          <div class="row" style="justify-content: space-around;">
            <button (click)="routeToLink('/main-home/booking-detail',booking.serial)"
              class="btn btn-success col-5 btn-action" style="font-size: 15px ">Detail</button>
            <!-- <button class="btn btn-warning col-5 btn-action"
              (click)="routeToLink('/main-home/booking-create',booking.serial)"
              style="font-size: 15px !important;">Update</button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center; direction: ltr;" *ngIf="bookingsFilter.length>0">
  <custom-pagination [itemCount]="bookingsFilter.length" [(pageIndex)]="pageIndex" [pageSize]="pageSize">
  </custom-pagination>
</div>
