<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn" (click)="routeToLink()">
        <i class="fa-solid fa-angle-left" style="font-size: 22px;"></i>
      </button>
    </div>
    <div class="col" style="padding-right:15px ;" (click)="addBooking()">
      <button class="btn-save" style="float: inline-end;">
        <i class="fa-regular fa-floppy-disk"></i> Save</button>
    </div>
  </div>

  <div class="row" style="padding: 0px 40px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Value">Doctor</label>
        <custom-select-option [array]="[doctorArr]" (code)="getCodeFromArray($event,1)"></custom-select-option>
        <!-- <input type="text" class="form-control" id="Value" [(ngModel)]="objBooking.note" /> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="birthDate">Reservation Date</label>
        <input type="date" class="form-control" id="birthDate" [(ngModel)]="objBooking.reservationDate"
          (change)="checkAvilableSlot($event)" />
      </div>
    </div>
  </div>
  <div class="row" style="padding: 0px 40px;">
    <div class="col-md-6">
      <div class="form-group">
        <label for="Procedure">Procedure Type</label>
        <div class="card">
          <div *ngFor="let operation of operationArr; let i = index">
            <input type="checkbox" [id]="'Procedure' + i" [name]="'operationCheckbox'"
              [(ngModel)]="+operation.selected" />
            <label [for]="'checkbox' + i">
              <strong>{{ operation.name }}</strong><br />
            </label>
          </div>
        </div>
        <!-- <custom-select-option [array]="[operationArr]" (code)="getCodeFromArray($event,3)"></custom-select-option> -->
        <!-- <input type="text" class="form-control" id="Value" [(ngModel)]="objBooking.note" /> -->
      </div>
    </div>
    <div class="col-md-6">
      <label for="birthDate">Time Slot</label>
      <div class="form-group card">
        <div *ngFor="let slot of arrShiftsTime; let i = index">
          <input type="radio" [id]="'timeSlot' + i" [name]="'timeSlot'" [value]="slot"
            (click)="selectRadioSchedulTime(slot)" [(ngModel)]="objBooking.reservationTimeSerial" />
          <label [for]="'timeSlot' + i">{{ slot.startTime | date: 'HH:mm' }} - {{ slot.endTime | date: 'HH:mm'
            }}</label>
          <!-- <div *ngFor="let slot of arrShiftsTime; let i = index">
              <input type="checkbox" [id]="'arrShiftsTime' + i" [name]="'operationCheckbox'" [(ngModel)]="+slot.selected" />
              <label [for]="'arrShiftsTime' + i">
                <strong>{{ slot.startTime | date: 'HH:mm' }} - {{ slot.endTime | date: 'HH:mm'}}</strong><br />
              </label>
            </div> -->
          <br />
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding: 0px 40px;">
    <div class="col-md-6 row">
      <div class="col-md-6 form-group">
        <label for="Value">Shift Number of Slot</label>
        <input [disabled]="true" type="text" class="form-control" id="Value" [(ngModel)]="this.numSlot" />
      </div>
      <div class="form-group col-md-6">
        <label for="numSlot">Number of Slot</label>
        <input type="number" class="form-control" id="numSlot" [(ngModel)]="objBooking.numSlot"
          (change)="checkOnNumSlot($event)" />
      </div>
    </div>
    <div class="col-md-6 ">
      <div class=" form-group">
        <label for="Value">Note</label>
        <input type="text" class="form-control" id="Value" [(ngModel)]="objBooking.note" />
      </div>

    </div>
  </div>

</div>
