<div class="container mt-4">
  <!-- <div class="row">
    <div class="col-12 text-center">
      <h2>Operation Management</h2>
    </div>
  </div>
  <hr /> -->
  <!-- Horizontal line -->

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="operationName">Operation Name</label>
        <input type="text" class="form-control" id="operationName" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" />
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2">
      <button class="btn btn-primary" id="saveButton">Save</button>
    </div>
  </div>

  <hr />
  <!-- Horizontal line -->

  <div class="row">
    <div class="col-12">
      <table
        style="text-align: center"
        class="table table-striped table-bordered"
      >
        <thead>
          <tr>
            <th>Serial</th>
            <th>Operation Name</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Operation A</td>
            <td>$50.00</td>
            <td>
              <button class="btn btn-success">Update</button
              ><button class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Operation B</td>
            <td>$75.00</td>
            <td>
              <button class="btn btn-success">Update</button
              ><button class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>Operation C</td>
            <td>$90.00</td>
            <td>
              <button class="btn btn-success">Update</button
              ><button class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
