<div class="auth-page">
  <div class="auth-form">
    <div class="card-auth">
      <div *ngIf="showRegisterForm==false" style="    width: 100%;line-height: 3;" class="responsive-regist">
        <div class="card-form">
          <div class="auth-title">
            <span>Log In</span>
          </div>
          <div class="" *ngIf="!showForgetPass">
            <div class="form-group">
              <label for="user" class="label">User Name</label>
              <input id="user" type="text" class="form-control" [(ngModel)]="loginModel.email">
            </div>
            <div class="form-group">
              <label for="pass" class="label">Password </label>
              <input id="pass" type="password" class="form-control" [(ngModel)]="loginModel.password"
                data-type="password">
            </div>
            <div class="form-group">

              <button type="submit" class="btn btn-auth" (click)="login()">Login</button>
            </div>
            <div class="log">
              <a (click)="registerationForm(true)">Register</a>
            </div>
          </div>
          <br>
        </div>

      </div>
      <div *ngIf="showRegisterForm==true" style="width: 100%;" class="responsive-regist">
        <register-new-user (rigesterPage)="registerationForm($event)"></register-new-user>
      </div>
    </div>

  </div>
  <div class="slide">
    <img src="../../../assets/images/loginBackground.jpg" alt="">
  </div>
</div>
