<div class="container">
  <!-- <h2>Doctor Fees</h2> -->
  <div class="filters">
    <div class="filter-group row">
      <label for="patientDropdown" class="col-5">Select Doctor:</label>
      <select id="patientDropdown" class="col-6">
        <!-- Add options for doctors -->
        <option value="doctor1">Doctor 1</option>
        <option value="doctor2">Doctor 2</option>
        <!-- Add more doctor options as needed -->
      </select>
    </div>
    <div class="filter-group row">
      <label for="patientDropdown" class="col-5">Select Patient:</label>
      <select id="patientDropdown" class="col-6">
        <!-- Add options for patients -->
        <option value="patient1">Patient 1</option>
        <option value="patient2">Patient 2</option>
        <!-- Add more patient options as needed -->
      </select>
    </div>
    <div class="filter-group">
      <label for="dateFrom">From:</label>
      <input type="date" id="dateFrom" />
    </div>
    <div class="filter-group">
      <label for="dateTo">To:</label>
      <input type="date" id="dateTo" />
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="selectAll"
          [(ngModel)]="selectAllFlag"
          (change)="selectAll()"
        />
        <label class="form-check-label" for="selectAll">Select All</label>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Patient Code</th>
        <th>Patient Name</th>
        <th>Service Name</th>
        <th>Reservation Date</th>
        <th>Patient Price</th>
      </tr>
    </thead>
    <tbody>
      <!-- Add table rows with ngFor as needed -->
      <tr
        *ngFor="let patient of patients"
        [ngClass]="{
          selected: patient.isSelected,
          'not-selected': !patient.isSelected
        }"
        (click)="selected(patient)"
      >
        <td>{{ patient.patientCode }}</td>
        <td>{{ patient.patientName }}</td>
        <td>{{ patient.serviceName }}</td>
        <td>{{ patient.reservationDate }}</td>
        <td>{{ patient.patientPrice }}</td>
      </tr>
    </tbody>
  </table>
  <div class="total-price">
    <p>Total Price for Doctor: {{ calculateTotalPrice() }}</p>
  </div>
</div>
