<div class="container">
  <!-- <h2>Doctor Fees</h2> -->
  <div class="filters">
    <div class="filter-group row">
      <label for="patientDropdown" class="col-5">Select Doctor:</label>
      <div style="width: 90%;">
        <custom-select-option [array]="[doctorArr]" (code)="getCodeFromArray($event,1)"></custom-select-option>
      </div>
    </div>
    <!-- <div class="filter-group row">
      <label for="patientDropdown" class="col-5">Select Patient:</label>
      <div>
        <div style="width: 90%;">
          <custom-select-option [array]="[patientArr]" (code)="getCodeFromArray($event,2)"></custom-select-option>
        </div>
      </div>
    </div> -->
    <div class="filter-group" style="display: block">
      <div>
        <label for="dateFrom">From:</label>
      </div>
      <div><input type="date" id="dateFrom" style="width: 90%;" [(ngModel)]="searchObj.fromDate" /></div>
    </div>
    <div class="filter-group" style="display: block">
      <label for="dateTo">To:</label>
      <div><input type="date" id="dateTo" style="width: 90%;" [(ngModel)]="searchObj.toDate" /></div>
    </div>
    <button class="btn" style="cursor: pointer;" (click)="getDoctorFees()"><i class="fa-solid fa-magnifying-glass"
        style="font-size: 17px;"></i></button>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="selectAll" [(ngModel)]="selectAllFlag"
          (change)="selectAll()" />
        <label class="form-check-label" for="selectAll">Select All</label>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>

        <th>Procedure Type</th>
        <th>Reservation Date</th>
        <th>Patient Price</th>
      </tr>
    </thead>
    <tbody>
      <!-- Add table rows with ngFor as needed -->
      <tr *ngFor="let patient of patients" [ngClass]="{
          selected: patient.isSelected,
          'not-selected': !patient.isSelected
        }" (click)="selected(patient)">
        <td>{{ patient.procedure_Name }}</td>
        <td>{{ patient.reservationDate|date:'dd/MM/yyyy' }}</td>
        <td>{{ patient.procedure_price }}</td>
      </tr>
    </tbody>
  </table>
  <div class="total-price">
    <p>Total revenue for doctor: {{ calculateTotalPrice() }}</p>
  </div>
</div>
