<div class="container mr-4">
  <button class="btn-save" (click)="routeToLink(0)" style="width: 120px;justify-content: center;">
    <i class="fa-solid fa-plus"></i>Add</button>
  <br>
  <div class="row">
    <div class="col-12" style="padding: 0px 40px;">
      <table style="text-align: center" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Serial</th>
            <th>Membership Name</th>
            <th>Membership Value</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let memDetails of memberShipList| slice:pageIndex*pageSize:(pageIndex+1)*pageSize;let index=index">
            <td>{{memDetails.serial}}</td>
            <td>{{memDetails.mem_Name}}</td>
            <td>{{memDetails.mem_Value}}</td>
            <td>
              <div class="row" style="justify-content: space-around;">
                <button (click)="updateMemberShip(memDetails)" class="btn btn-success col-6 btn-action">Update</button>
                <button (click)="deleteMemberShip(memDetails)" class="btn btn-danger col-6 btn-action">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="text-align: center; direction: ltr;" *ngIf="memberShipList.length>0">
      <custom-pagination [itemCount]="memberShipList.length" [(pageIndex)]="pageIndex" [pageSize]="pageSize">
      </custom-pagination>
    </div>
  </div>
</div>
